* {
  color: white;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #494cf9;
  margin: 0%;
}

a {
  font-style: normal;
  text-decoration: none;
}

.nav_bar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;

  margin-top: 0%;
  background-color: #373ae4;
  border-bottom: white solid 1px;

  flex-direction: row;

  transition: all 1s;
}

.nav_bar:hover {
  height: 200px;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 1%;
  font-size: 65px;
}

.menu_nav_bar {
  display: flex;
  width: 100%;

  margin-right: 3%;
  margin-left: 0%;

  flex-direction: row;
  justify-content: end;
  align-self: center;

  font-size: 24px;

  transition: width 5s, height 5s, margin-left 2s, margin-right 2s;
}

a {
  padding: 10px;
  transition: width 5s, height 5s, margin-left 1s, margin-right 1s,
    transform 0.5s ease-in-out;
}

.nav_bar:hover .menu_nav_bar a {
  margin-right: 0.5%;
  margin-left: 0.5%;
}

a:hover {
  transform: scale(1.3);
}

.corpo {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.listar_ong {
  position: fixed;
  width: 10%;
  height: 100vh;

  display: flex;
  align-self: flex-start;
  justify-content: center;
  flex-direction: column;

  border-right: white solid 1px;
  background-color: #373ae4;
  z-index: -1;

  transition: width 1s;
}

.listar_ong:hover {
  width: 15%;
}

#listar_missao {
  display: flex;
  align-items: flex-start;
}

.ong_unidade {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#ong {
  width: 90%;
  border-radius: 50%;
}

#popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#content-popup {
  background-color: #494cf9;
  margin: 20% auto;
  border: 1px solid #888;
  width: 40%;
  height: 23%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#aviso {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#content-aviso {
  background-color: #494cf9;
  margin: 20% auto;
  border: 1px solid #888;
  width: 40%;
  height: 23%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content-popup button {
  color: black;
  margin-top: 1%;
}

#content-popup input {
  color: black;
  margin-top: -5%;
}

#close {
  margin-top: -20%;
  width: 5%;
  display: flex;
  align-self: flex-end;
  justify-content: flex-start;
}

#close-aviso {
  margin-top: -20%;
  width: 5%;
  display: flex;
  align-self: flex-end;
  justify-content: flex-start;
}

#form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listar_missoes {
  width: 100%;
  height: auto;

  display: flex;
}

#missao {
  width: 10%;
  height: auto;
  margin-left: 15%;
  margin-top: 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;

  background-color: #373ae4;

  transition: all 0.3s ease-in-out;
  z-index: +2;
}

#missao:hover {
  transform: scale(1.3);
}

#missao span {
  margin-top: 1%;
}

#missao button {
  color: white;
  background-color: rgb(177, 177, 177);

  margin-top: 5%;

  border: none;

  transition: all 0.3s ease-in-out;
}

#missao button:hover {
  transform: scale(1.3);
}
